@(tasks:Seq[String])(implicit assetsFinder: AssetsFinder,request:RequestHeader,flash:Flash)
@main("Tasklist"){
    <div class="container">
        <h2>TaskList</h2>
        <ul>
            @for((task,i)<-tasks.zipWithIndex) {
                <li>@task</li>
                <form method="POST" action="@routes.HomeController.deleteTask">
                    @helper.CSRF.formField
                    <input type="hidden" value="@i" name="index">
                    <input type="submit" value="Delete">
                </form>
            }
        </ul>
        <form method="post" action="@routes.HomeController.addTask">
            @helper.CSRF.formField
            <input  type="text" name="newTask">
            <input  type="submit">
        </form>
        <div><a href="@routes.HomeController.logout">Logout</a></div>
    </div>
}